@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  /* COLORS */
  --color-orange: #f98113;
  --color-carne: #fff8f0;
  --color-darkBlue: #52758b;
  --color-blue: #0f0d3e;
  --color-blue-active: #0b2031;
  --color-white: #ffffff;
  --color-bg: #f6f7fb;

  --color-gray: #474747;
  --color-grayLight: #afb9c4;
  --color-darkGray: rgb(41, 41, 41);

  --color-lila: #9700ff;

  /* LINKS */
  --link: rgb(87, 87, 87);
  --link--active: rgb(29, 56, 114);

  /* BUTTON TEXT */
  --color-button-text: #8fa5b1;

  /* BORDER */
  --border-radius: 10px;
  --border-wp-radius: 15px;

  /* H2 */
  --title-size: 1.8rem;
}

/* ELEMENTS */
li {
  list-style: none;
}
p {
  letter-spacing: 0.6;
}
h2 {
  font-family: "Roboto", "Arial Narrow", Arial, sans-serif;
}

.arrow-in-button {
  width: 23px;
  height: 30px;
}

.button {
  padding: 10px 25px;
  border-radius: 20px;
  border: solid 2px var(--color-blue);
  font-weight: 600;
  font-size: 15px;
  background-color: inherit;
}

/* CONTAINER */
.container {
  max-width: 1800px;
  padding: auto;
}
/* HEADER */
.header {
  position: sticky;
  top: 0px;
  background-color: var(--color-white);
  padding: 0 15px 0 15px;
  z-index: 3;
}
/* HEADER LOGO */
.header__logo__wrapper {
  margin-left: -22px;
  width: 100px;
  height: 60px;
}
.header__logo__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* HEADER NAVBAR */
.headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* HEADER UL */
.headerNav__ul {
  display: none;
}
/* HEADER MENU */
.header__menuIcon {
  display: flex;
  width: 30px;
}
.header__menuIcon img {
  width: 100%;
  height: 100%;
}
/* HEADER BUTTON */
.header__button {
  display: none;
}
/* HEADER LOGIN */
.header__links
.header__userIcon {
  display: flex;
  padding: 0;
  align-items: center;
  gap: 15px;
}
.header__links .header__userIcon svg {
  width: 40px;
  height: 40px;
}
.header__button a, .header__userIcon a {
  text-decoration: none;
  color: #0b2031;
}
/* HEADER NAVBAR LINKS */
.headerNav__link__wrapper {
  list-style: none;
}
.headerNav__link {
  text-decoration: none;
  color: var(--color-darkGray);
}
/* MENU HEADER */
.menu__header {
  display: none;
  position: absolute;
  top: 70px;
  right: 20px;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: 6px 7px 27px -10px rgb(59, 59, 59);
  width: 200px;
  padding: 35px 0;
  z-index: 655;
}
.menu__header::after {
  position: absolute;
  content: "";
  top: -8px;
  right: 0;
  border-left: 50px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 20.6px solid var(--color-white);
  width: 0px;
  height: 0px;
}
.menu__nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.menu__nav li {
  display: block;
  padding: 10px 15px;
  font-weight: 500;
}
.menu__nav li:hover {
  background-color: rgba(116, 167, 196, 0.363);
}
.show {
  display: flex;
}

main {
  background-color: var(--color-white);
}

/* HERO SECTIONS */
.hero__section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  padding: 4rem 0;
  background-color: #ffff;
}
.hero__section > .wrapper__image {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  padding: 0 1rem;
  order: 1;
}
.hero__section__image {
  position: relative;
  width: 100%;
  height: 350px;
  border-radius: 15px;
  overflow: hidden;
}
.hero__section > .wrapper__image > .image-2 {
  display: none;
}
.hero__section__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero__section__description {
  width: 90%;
}
.hero__section__description hr {
  width: 70px;
  height: 3px;
  background-color: var(--color-blue);
  border: none;
  margin: 2rem 2rem 5rem 2rem;
}
.hero__section__description > h2,
.hero__section__description > p {
  max-width: 700px;
  text-align: start;
  margin: auto;
  font-size: 3rem;
  padding-left: 2rem;
}
.hero__section__description > h2 {
  margin-bottom: 3rem;
}
.hero__section__description > p {
  font-size: 1.1rem;
  font-weight: 300;
  color: var(--color-blue);
  margin-top: 1.2rem;
}
.hero__section__wrapper {
  max-width: 700px;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
  margin: 2rem auto;
}
.hero__section__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.hero__section__content::before {
  display: none;
}
.hero__section__content:hover::before {
  transform: translateX(-39px);
}
.hero__section__content h3,
.hero__section__content p {
  text-align: start;
  font-weight: 500;
}
.hero__section__content p {
  margin-top: 5px;
  line-height: 1.4;
  font-weight: 400;
  font-size: 1rem;
  color: var(--color-blue);
}
.hero__section__content > h3,
.hero__section__content > p {
  transition: all 0.1s ease-in;
}

.hero__section__content:hover > h3 {
  color: var(--color-blue);
}

/* ÚNETE A NOSOTROS */
.joinus {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 6rem auto;
  padding: 5rem 1rem 5rem;
  border-radius: 20px;
  overflow: hidden;
  width: 93%;
  background-image: linear-gradient(
    to right,
    var(--color-blue-active) 30%,
    rgba(65, 71, 102, 0.16) 70%,
    rgba(137, 215, 255, 0)
  );
}
.joinus::before {
  position: absolute;
  content: url("./assets/chica-con-ordenador-3.JPG");
  width: 80%;
  translate: 2rem -79rem;
  transform: scale(0.6);
}
.joinus::after {
  position: absolute;
  content: "";
  z-index: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    var(--color-blue-active) 30%,
    rgba(8, 35, 49, 0.97) 70%,
    rgb(23, 68, 91)
  );
  top: 0;
}

.joinus__description {
  max-width: 800px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  z-index: 2;
}
.joinus__description h2 {
  position: relative;
  font-size: 2.3rem;
  max-width: max-content;
  color: var(--color-white);
}
.joinus__description h2::before {
  position: absolute;
  top: -30px;
  color: gold;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  word-spacing: 2px;
}
.joinus__description p {
  font-size: 21px;
  color: var(--color-white);
}
.joinus__description button {
  border-color: var(--color-white);
  color: var(--color-white);
}
.joinus__description button:hover {
  color: var(--color-blue);
  background-color: var(--color-white);
}
.joinus__description button:active {
  background-color: var(--color-gray);
}

.joinus__img img {
  width: 100%;
}

@media screen and (min-width: 380px) {
  .services__items li {
    font-size: 8px;
  }
}
@media screen and (min-width: 500px) {
  /* CONTACT */
  .contact {
    background-color: #e1e5e8;
    padding: 3rem 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .contact h2 {
    color: var(--color-blue);
    text-align: center;
    font-weight: 800;
  }
  .contact span,
  .contact p {
    display: block;
    width: 300px;
    margin: 12px auto;
    color: var(--color-gray);
    text-align: center;
    font-weight: 400;
  }
  .contact p {
    display: none;
  }
  .contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .contact form label {
    text-align: center;
    color: var(--color-gray);
  }
  .contact form input,
  textarea {
    display: block;
    margin-top: 10px;
  }
  .contact form input,
  textarea,
  button[type="submit"] {
    border-radius: var(--border-radius);
    border: none;
    outline: none;
    padding: 8px 12px;
    display: block;
  }
  .contact form button[type="submit"] {
    width: max-content;
    padding: 9px 45px;
    font-size: 14px;
    font-weight: 500;
    background-color: var(--color-white);
    border-radius: 30px;
  }
  .contact form button[type="submit"]:hover {
    background-color: var(--color-button-text);
  }
}
@media screen and (min-width: 720px) {
  /* HEADER NAV */
  .headerNav__ul {
    width: 400px;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
  }
  .headerNav__link {
    font-weight: 500;
    color: var(--color-blue);
  }
  .header__button {
    display: flex;
    border-radius: 35px;
    border: none;
    outline: solid 2px var(--color-blue);
    padding: 7px 20px;
    background-color: var(--color-white);
    margin-right: 1rem;
    font-weight: 600;
  }
  .header__button:hover {
    background-color: var(--color-blue);
    color: var(--color-white);
  }
  .header__userIcon {
    display: flex;
    width: 30px;
    height: 30px;
    margin-right: 1rem;
  }
  .header__menuIcon {
    display: none;
  }
  .menu__header {
    display: none;
  }

  /* HERO SECTIONS */
  .hero__section {
    display: flex;
    flex-direction: row;
    gap: 9rem;
    justify-content: center;
    padding: 4rem 0;
    background-color: #ffff;
  }
  .hero__section > .wrapper__image {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 120px;
  }
  .hero__section > .wrapper__image > .image-2 {
    display: flex;
  }
  .hero__section__image {
    position: relative;
    width: 100%;
    height: 500px;
    border-radius: 15px;
    overflow: hidden;
  }
  .hero__section__image img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
  .hero__section__description {
    width: 40%;
  }
  .hero__section__description hr {
    width: 70px;
    height: 3px;
    background-color: var(--color-blue);
    border: none;
    margin-top: 2rem;
  }
  .hero__section__description > h2,
  .hero__section__description > p {
    max-width: 700px;
    text-align: start;
    margin: auto;
    font-size: 3rem;
    color: var(--color-blue);
  }
  .hero__section__description > p {
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 1.2rem;
  }
  .hero__section__wrapper {
    max-width: 700px;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: flex-start;
    margin: 2rem auto;
  }
  .hero__section__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .hero__section .hero__section__content::before {
    position: absolute;
    content: url("../../assets/svg/arrow_left.svg");
    top: 29px;
    right: -40px;
    display: flex;
    rotate: 180deg;
    transform: translateX(-31px);
    color: var(--color-orange);
    transition: all 0.2s ease-in;
  }
  .hero__section__content:hover::before {
    transform: translateX(-39px);
  }
  .hero__section__content h3,
  .hero__section__content p {
    text-align: start;
    font-weight: 500;
  }
  .hero__section__content p {
    margin-top: 5px;
    line-height: 1.4;
    font-weight: 400;
  }
  .hero__section__content > h3,
  .hero__section__content > p {
    transition: all 0.1s ease-in;
  }

  .hero__section__content:hover > h3 {
    color: var(--color-blue);
  }
}
@media screen and (min-width: 1024px) {
  /* HEADER NAV */
  .headerNav {
    display: flex;
  }
  /* CONTACT */
  .contact {
    justify-content: center;
    flex-direction: row;
    gap: 120px;
  }
  .contact h2 {
    font-size: 2.3rem;
  }
  .contact p {
    display: flex;
    width: 400px;
    color: #1f1f1f;
  }
  .contact input,
  textarea {
    width: 400px;
  }
  .contact form label {
    text-align: start;
  }
  .contact form {
    align-items: flex-start;
  }
}
