[type="date"] {
    display: block;
    width: 100%;  
    padding: .8rem 1rem;
    font-size: .8rem;
    border-radius: 6px;  
    outline: solid .1rem #dbdbd8;
    border: none;
    color: var(--input-color);
}
[type="date"]:focus {
    outline: solid 2px #17a9ec !important;
    border: none
}
::placeholder{
    color: var(--input-color);
}