.hidden__phrase {
    display: none;
}

.button {
    display: flex;
    align-items: center;
    width: max-content;
    padding: 9px 25px;
    border-radius: 29px;
    border: solid 2px var(--color-bg);
    font-weight: 400;
    font-size: 15px;
    background-color: inherit;
    gap: 10px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    text-decoration: none;
  }
  .button:hover {
    color: var(--color-blue);
    background-color: var(--color-white);
  }
  .button:active {
    background-color: rgb(219, 219, 219);
  }
  .button svg {
    transition: all 0.2s ease-in-out;
    fill: #fff;
  }
  .button:hover svg {
    fill: var(--color-white);
    transform: translateX(15px);
    transition: all 0.2s ease-in-out;
  }


.presentation__about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.presentation__img {
    display: none;
    min-width: 700px;
    width: 100%;
    height: 360px;
    flex-grow: 2;
    overflow: hidden;
}

.presentation__description__about {
    max-width: 800px;
    padding: 2rem 1.4rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.presentation__description__about h2 {
    position: relative;
    color: var(--color-blue-active);
    font-size: 2.3rem;
}



/* mission__target */
.mission__target {
    padding: 1rem 2rem 4rem;
}

.mission__target>header>h2 {
    color: var(--color-blue-active);
    font-size: 2.2rem;
    margin: 0 0 12px;
    text-align: start;
    font-weight: 400;
}

.mission__target>div>p {
    max-width: 1100px;
    font-size: 20px;
    margin: 1.5rem auto auto;
    font-weight: 300;
}



/* ABOUT US */
.aboutus {
    padding: 1rem 2rem 4rem;
}

.aboutus header {
    padding: 1.2rem 0 1rem;
}

.aboutus header h2 {
    color: var(--color-blue-active);
    font-size: 2.2rem;
    margin: 0 0 12px;
    text-align: start;
    font-weight: 400;
}

.aboutus>div>p {
    max-width: 1100px;
    font-size: 20px;
    margin: 0 auto auto;
    font-weight: 300;
}


/* ÚNETE */
.banner__section {
    width: 100%;
    height: 500px;
    margin: 3rem 0;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 2rem;
    background-image: linear-gradient(to right,
            #0b2031da 20%,
            rgba(10, 13, 14, 0.39) 60%), url("../../assets/image_50727937.JPG");
    background-position: 30% 30%;
    background-size: 120%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.banner__section__content {
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.banner__section h2,
.banner__section p {
    color: var(--color-bg);
}

.banner__section h2 {
    font-size: 3rem;
}

.banner__section p {
    font-size: 20px;
    margin: auto;
    font-weight: 300;
}

.banner__section a {
    width: max-content;
    color: var(--color-bg);
    text-decoration: none;
}
.banner__section a:hover {
    color: var(--color-blue);
    background-color: var(--color-bg);
}

/* OFFER */
.offer {
    padding: 1rem 1rem 4rem;
}

.offer>header>h2 {
    color: var(--color-blue-active);
    font-size: 2.2rem;
    margin: 0 0 3rem;
    text-align: center;
    font-weight: 400;
}

.offer__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.offer__item {
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    gap: 1.2rem;
    padding: 3rem 1.2rem;
    background-color: #fff;
    border-radius: 4px;
    border: solid 2px #dcddde;
}

.offer__content {
    width: 100%;
    max-width: 400px;
}

.offer__content h2 {
    margin-bottom: 1rem;
    font-size: 23px;
    font-weight: 500;
    text-align: center;
    color: var(--color-blue-active);
}

.offer__content p {
    font-size: 20px;
    font-weight: 300;
    word-spacing: 1;
    text-align: center;
}


/* TEAM */
/* SUPPORT */
.support {
    padding: 1rem 2rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.support__header {
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.support__header h3 {
    color: var(--color-blue-active);
    font-size: 2.2rem;
    margin: 0 0 12px;
    text-align: center;
}

.support__header p {
    text-align: center;
    font-size: 20px;
    color: var(--color-blue-active);
}

.support_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 2.5rem 0;

}

.support__item {
    width: 100%;
    max-width: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.support__image {
    width: 100%;
    height: 307px;
    background-color: var(--color-grayLight);
    border-radius: 2px;
    overflow: hidden;
}


.support__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.support__content {
    position: relative;
    font-size: 1rem;
    width: 100%;
}

.support__content .member__content {
    display: none;
}

button.menu__member {
    border: none;
}

.support__content .menu__member.show__member + .member__content {
    display: block;
    font-size: .9rem;
}

.support__content p {
    font-size: 1rem;
    font-weight: 400;
    color: #030c13;
}

.support__content .support__content__role {
    width: 100%;
}

.support__content  .menu__member > svg {
    position: absolute;
    top: 0;
    right: 0;
    rotate: 1.25turn;
    transition: rotate .2s ease-in-out
}

.support__content .menu__member.show__member svg {
    rotate: 1turn;
    cursor: pointer;
}


.support__content h4 {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-blue);
    text-align: start;
}

.support__content .support__content__role > span {
    display: block;
    text-align: start;
    font-size: 1.1rem;
    font-weight: 300;
    color: #424344;
    margin: 0 0 .5rem;
}


.support__content .support__content__role span:first-child {
    padding: 4px 0 0 ;
    cursor: pointer;
}

.support__content span.icons-wrapper {
    margin-top: 5px;
    display: flex;
    justify-content: start;
    gap: 8px;
}

.support__content .support__content__role button {
    border: none;
    outline: none;
    background-color: inherit;
}
.support__content span.icons-wrapper svg {
    width: 26px;
    height: 28px;
}

.about__joinus {
    position: relative;
    margin: 2rem 0 0;
    padding: 3rem 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.about__joinus__image > .pointers__svg, .about__joinus__image > .pointers__svg__2 {
    position: absolute;
}
.about__joinus__image > .pointers__svg  {
    right: 234px;
    bottom: 67px;
    height: 110px;
}
.about__joinus__image > .pointers__svg__2  {
    width: 188px;
    right: 61px;
    top: 103px;
}
.about__joinus__image > .pointers__svg svg, .about__joinus__image > .pointers__svg__2 svg {
    width: 100%;
    height: 100%;
}

.about__joinus__content {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 2rem;
}

.about__joinus__content p {
    font-size: 20px;
    margin: auto;
    font-weight: 300;
    color: #040224;
}

.about__joinus__content h2 {
    color: var(--color-blue-active);
    font-size: 3.2rem;
    font-weight: 400;
    text-align: start;
    margin: auto auto 1rem;
}

.about__joinus__links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about__joinus__links a {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: max-content;
    padding: .6rem 1.2rem;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    border: solid .4px #0f0d3e;
    border-radius: 50px;
    color: #0f0d3e;
}
.about__joinus__links a:hover {
    background-color: #ffe815;
    transition: transform .2s ease-in-out;
}

.about__joinus__links a svg {
    transform: translateX(0);
    transition: transform .2s ease-in-out;
}
.about__joinus__links a:hover svg {
    transform: translateX(15px);
    transition: transform .2s ease-in-out;
}

.about__joinus__image {
    width: 210px;
    height: 163px;
}

.about__joinus__image img {
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 720px) {

    /* PRESENTATION */
    .presentation__about {
        position: relative;
        display: block;
        flex-direction: row-reverse;
        overflow: hidden;
    }

    .presentation__about svg {
        position: absolute;
        bottom: -252px;
        left: -160px;
        /* width: 100vw; */
        height: 527px;
    }

    .presentation__description {
        padding: 5rem 4rem;
        max-width: 800px;
        margin: auto;
        gap: 15px;
    }

    .presentation__description__about {
        align-items: center;
    }

    .presentation__description__about p {
        text-align: center;
    }

    .presentation__img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to top,
                rgba(21, 42, 64, 0.57) 40%,
                rgba(21, 21, 21, 0.83) 90%),
            url("../../assets/chica-con-ordenador-3.JPG");
        background-position: 0% 40%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .presentation__img h2 {
        color: var(--color-carne);
        font-size: 5rem;
        font-weight: 200;
    }

    .presentation__img span {
        color: var(--color-carne);
        font-weight: 300;
    }


    /* ABOU US */
    .aboutus {
        padding: 1rem 7rem 4rem;
    }

    /* mission__target */
    .mission__target {
        padding: 1rem 7rem 4rem;
    }

    /* ÚNETE */
    .banner__section {
        margin: 5rem 0 0;
        padding: 0 7rem;
        background-image: linear-gradient(to right,
                var(--color-blue-active) 40%,
                rgba(10, 13, 14, 0.123) 90%), url("../../assets/image_50727937.JPG");
    }

    /* OFFER */
    .offer {
        padding: 4rem 7rem 4rem;
    }

    .offer__item {
        width: 310px;
        height: 450px;
        flex-direction: row;
        align-items: start;
        gap: 8rem;
        padding: 2rem 3rem;
    }


    .offer__wrapper {
        flex-direction: row;
        justify-content: center;
        align-items: start;
    }

    .offer__content {
        width: 400px;
    }

    .offer__content h2 {
        margin-bottom: 1.8rem;
        font-weight: 800;
        text-align: start;
        font-size: 1.8rem;
    }

    .offer__content p {
        height: 150px;
        font-size: 1.1rem;
        font-weight: 300;
        word-spacing: 1;
        text-align: start;
    }

    /* SUPPORT */
    .support {
        margin: 4rem 2rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .support__header {
        margin: 0 0 0;
        align-items: flex-start;
        max-width: 900px;
    }

    .support__header>h3 {
        font-size: 4.2rem;
        font-weight: 400;
        text-align: center;
        margin: auto auto 1rem;
    }

    .support__header>p {
        text-align: center;
    }

    .support__content__role {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        align-items: start;
    }

    .support__content span.icons-wrapper {
        justify-content: center;
        margin: 0;
    }

    .support__content h4 {
        text-align: center;
    }
    
    .support__content .support__content__role > span {
        text-align: center;
    }
    

    .support__image {
        position: relative;
        width: 340px;
        height: 380px;
    }

    .support__image img {
        filter: saturate(0);
        transition: filter .3s ease-in-out;
    }

    .support__item:hover .support__image img {
        filter: saturate(1);
        transition: filter .2s ease-in-out;
    }

    .support_wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: start;
        gap: 90px;
        padding: 2.5rem 0;
    }

    .support__content {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .support__content span.icons-wrapper svg {
        width: 20;
    }

    .support__content span.icons-wrapper {
        gap: 2px;
    }

    .about__joinus__links a {
        padding: 1rem 3rem;
        font-size: 18px;
    }

    .about__joinus__image {
        width: 410px;
        height: 300px;
    }

    .about__joinus__content p {
        font-size: 26px;
    }
    
    .about__joinus__content h2 {
        font-size: 4.2rem;
    }

    .about__joinus__image > .pointers__svg  {
        right: 423px;
        bottom: 42px;
        height: 138px;
    }

}

@media screen and (min-width: 1024px) {
    .offer__item {
        gap: 8rem;
    }
}

@media screen and (min-width: 1440px) {

    .presentation__about svg {
        bottom: -287px;
        left: -160px;
        height: 656px;
    }
}