.headerNav__link {
  position: relative;
  font-weight: 600;
  padding: .4rem .3rem;
  color: var(--color-blue);
}
.headerNav__link:hover {
  background-color: #f8f9fd59;
}
.headerNav__link::before {
  position: absolute;
  content: "";
  bottom: 0px;
  left: 0;
  width: 0;
  height: 3px;
  border-radius: 1px;
  transition: width .3s ease-in;
  background-color: var(--color-blue);
}

.headerNav__link:hover.headerNav__link::before {
  width: 100%;
  transition: width .3s ease-in;
}
.header__button {
  display: flex;
  border-radius: 35px;
  outline: none;
  border: solid 2px  #03203f;
  padding: 7px 20px;
  background-color: var(--color-white);
  margin-right: 1rem;
  font-weight: 600;
}


.hero__section__description h2 {
  color: rgb(16, 16, 60)
}

.hero__section__content > h3 {
  color: gold;
}

/* JOIN US */
.joinus button {
  display: flex;
  align-items: center;
  padding: 9px 25px;
  border-radius: 29px;
  border: solid 2px var(--color-bg);
  font-weight: 400;
  font-size: 15px;
  background-color: inherit;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.joinus button svg {
  transition: all 0.2s ease-in-out;
  fill: #fff;
}
.joinus button:hover svg {
  fill: var(--color-blue);
  transform: translateX(10px);
  transition: all 0.2s ease-in-out;
}
.joinus__img {
  position: absolute;
  top: -15px;
  right: -10px;
  width: 200px;
  z-index: 1;
}
.joinus__img img {
  width: 100%;
}

@media  screen and (min-width: 720px) {
  .hero__section {
    padding: 4rem 0 4rem;
  }
    .joinus {
        width: 85%;
        margin: 6rem auto;
    padding: 5rem 6rem 5rem;
    border-radius: 50px;
    }
    .joinus__img {
        position: absolute;
        width: 400px;
        top: 15px;
  right: 50px;
      }
      .joinus__description h2 {
        font-size: 3.3rem;
      }
}